div(layout='column', style='height:100%')
  section(layout='row', flex)
    md-sidenav(class='md-sidenave-left md-whiteframe-z1',md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
      md-toolbar(class="md-theme-indigo")
        h1(class="md-toolbar-tools") Sidenav Left
      md-content(class="md-padding")
        md-list
          md-item(ng-repeat='(keyUser, msgs) in inbox')
            md-item-content
              md-button(layout-fill, ng-click='showMessages(keyUser, msgs.receiver, msgs.messages)',
              ng-class='{"md-primary": receiver.username == keyUser && !newMessageFlag}')
                md-content {{keyUser}}
        md-button(layout-fill, ng-click='newMessage()')
          md-content
            span(class='glyphicon glyphicon-plus')
            | New message
        p(hide-md show-gt-md)
        | This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
        pre {{inbox | json}}
    md-content(flex, class="md-padding", layout='column', layout-fill, layout-align='space-between center')
      div(layout='row', layout-fill, style='min-height:64px')
        md-autocomplete(flex,
        ng-disabled='disableReceiver',
        md-selected-item='receiver',
        md-search-text='searchText',
        md-items='user in filterUserBase()',
        md-item-text='user.username',
        md-floating-label='Receiver')
          span(md-highlight-text="searchText") {{user.username}}
      md-content(flex, layout-fill)
        md-list
          md-item(ng-repeat='msg in displayMessages')
            md-item-content(ng-class='{"message-them" : msg.from._id == currentUser._id}')
              div(class='md-tile-left md-padding')
              | {{msg.date | date:'shortTime'}} <br>
              | {{msg.date | date:'MMM d'}}
              div(class='md-tile-content')
                h2 {{msg.from.username}}
                h3 {{msg.content}}
            md-divider
      div(layout='row', layout-fill, style='height:200px')
        md-input-container(layout-fill)
          label Message {{receiver? 'to ' + receiver.username : ''}}
          textarea(ng-model="message", columns="1", md-maxlength="1500")
        md-button(class="md-fab md-primary", aria-label="Comment", ng-click='sendMessage()')
          span(class='glyphicon glyphicon-send')