div(class='row', style='display:block')
  div(class='col-md-3', data-spy="affix", data-offset-top="60")
    md-autocomplete(
      placeholder="What subject are you looking for?",
      md-selected-item="selectedSubject",
      md-items='subject in getSubjects(searchedSubject)'
      md-search-text='searchedSubject'
      md-item-text='subject'
    )
      span(md-highlight-text='searchedSubject') {{subject}}

    div(flex)
      md-checkbox(ng-repeat='category in categories'
      ng-model='selectedCategories[category.category]') {{category.category}}
      section(layout="row" layout-sm="column" layout-align="center center")
        md-button(class="md-raised md-primary", ng-click='selectAllCategories(true)') Select All
        md-button(class="md-raised md-warn", ng-click='selectAllCategories(false)') Deselect All
  div(class='col-md-9', ng-hide='newSearch')
    ox-search-profile(style='display:block', users='userBase', selected-subject='selectedSubject', selected-categories='selectedCategories')
    md-content(ng-show='userBase.length == 0')
      md-card
        md-card-content
          h4 Sorry, no tutors matched your search.
  div(class='col-md-9', ng-show='newSearch')
    md-content(class='md-padding')
      md-card
        md-card-content
          h4 Start searching the subject you want to be tutored in by writing in the box on the left.
          br
          h4 Or choose an option by clicking the checkbox to refine the tutors.
